.card {
    width: 22rem;
}

body {
    min-height: 100vh;
    background-color: #13162d;
    font-family: "in-game-pixel", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.alt-font {
    font-family: "in-game-alt", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.artifacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: .5rem;
}

.card-footer-item {
    cursor: pointer;
    color: hsl(0, 0%, 96%);
    user-select: none;
    text-align: center;
}

@media(hover: hover) {
    .card-footer-item:hover {
        color: hsl(0, 0%, 80%);
        background-color: hsl(0, 0%, 18%);
    }
}

.card-footer-item.disabled {
    color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 21%);
    cursor: auto;
}

@font-face {
    font-family: "in-game-pixel";
    src: url("fonts/rzpix.ttf");
}

@font-face {
    font-family: "in-game-alt";
    src: url("fonts/NotoSansDisplay_SemiCondensed-Regular.ttf");
}