body {
    min-height: 100vh;
    background-color: #13162d;
    font-family: "in-game-pixel", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[data-tooltip]:after,
[data-tooltip]:before {
    font-family: "in-game-pixel", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.alt-font {
    font-family: "in-game-alt", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alt-font [data-tooltip]:after,
.alt-font [data-tooltip]:before {
    font-family: "in-game-alt", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

@media screen and (max-width: 464px) {
    h1.is-not-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 465px) {
    h1.is-mobile {
        display: none !important;
    }
}

.card {
    width: 22rem;
}

.artifacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: .5rem;
}

.card-footer-item {
    cursor: pointer;
    color: hsl(0, 0%, 96%);
    user-select: none;
    text-align: center;
    flex-direction: column;
}

@media(hover: hover) {
    .card-footer-item:hover {
        color: hsl(0, 0%, 80%);
        background-color: hsl(0, 0%, 18%);
    }
}

.card-footer-item.new-daily {
    color: #FFA500;
    animation: new-daily-color 3s infinite linear;
}

.card-footer-item.disabled {
    color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 21%);
    cursor: auto;
}

.card-footer-item:first-child,
.card-footer-item.disabled:first-child,
.card-footer-item:first-child:hover {
    border-bottom-left-radius: .25rem;
}

.card-footer-item:last-child,
.card-footer-item.disabled:last-child,
.card-footer-item:last-child:hover {
    border-bottom-right-radius: .25rem;
}

@font-face {
    font-family: "in-game-pixel";
    src: url("fonts/rzpix.ttf");
}

@font-face {
    font-family: "in-game-alt";
    src: url("fonts/NotoSansDisplay_SemiCondensed-Regular.ttf");
}

@keyframes new-daily-color {
    50% {
        color: #FFFF00;
    }

    100% {
        color: #FFA500;
    }
}